/* SIDEBAR CSS */
html {
    font-family: "Montserrat";
}

/* The sidepanel menu */
.sidepanel {
    height: 500px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color:#FFC72C; /* gold */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #9D2235;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #FFC72C;
    color: #9D2235;
    padding: 10px 15px;
    border: none;
    font-family: "Montserrat";
  }
  
  .openbtn:hover {
    background-color: #c4991f;
  }



/* CARD CSS */

.categoryCards {
    padding: 30;
}

h4 {
    color: #9D2235;
    font-size: 1vw;
    font-weight: bold;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 2px 4px 0 rgba(97, 8, 8, 0.2);
    transition: 0.3s;
    padding: 20px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 60px 80px 0 rgba(97,8,8,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

/* COLUMN CSS */
.column {
    float: left;
    width: 25%;
    padding-left: 30px;
    padding-bottom: 30px;
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}