.bigClass{
  margin: auto;
}

.form-group{
  align-content: normal;
}

input[type=text], input[type=tel], select {
  margin: 8px;
  align-content: center;
  width: 40%;
  max-width: 50%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#title_label{
  margin-left: 455px;
}

#price_label{
  margin-left: 450px;
}

#description_label{
  margin-left: 400px;
}

#category_label{
  margin-left: 420px;
}

#file_label{
  margin-left: 405px;
}

#title{
  padding-left: 40px;
}

#price{
  padding-left: 40px;
}

#description{
  padding-left: 40px;
}

#category{
  padding-left: 40px;
  width: 625px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdownNP {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdownNP-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdownNP-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdownNP-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdownNP:hover .dropdownNP-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdownNP:hover .dropbtn {background-color: #3e8e41;}